pillow==9.5.0
ultralytics==8.3.23
# wakepy
# clearml
# autodistill
# autodistill-grounded-sam
# autodistill-yolov8

# For CUDA enabled training
# https://pytorch.org/get-started/locally/
# - uninstall existing:
# pip uninstall torch torchvision
# - install specific
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121/


# Install Ultralytics from fork https://github.com/ultralytics/ultralytics/pull/8557
# pip install git+https://github.com/hulkds/ultralytics.git